h1 {
  color: red;
}

td {
  border-style: solid;
  padding: 1em;
  border-radius: 5px;
  padding: 2rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 16px;
  color: #818181;
}

.each-card {
  border-style: solid;
  border: 3px solid display: inline-block;
  height: 100px;
  width: 110px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
